Invalid WordPress sites configuration: site names in `wordpress_sites` must have matching entry in `vault_wordpress_sites`.

Sites without a matching vault entry:
{% for name in wordpress_sites.keys() | list | difference(vault_wordpress_sites.keys() | list) %}
* `{{ name }}`
{% endfor %}

Update `group_vars/{{ env }}/vault.yml` to continue.

Docs: https://roots.io/trellis/docs/wordpress-sites/#passwordssecrets
